.container{
    display: flex;
    justify-content: center;
}

.details{
    display: flex;
    width: 70%;
    border: #03012d 2px solid;
    margin: 50px 0;
    background: aliceblue;

}

.image{
    width: 40%;
}

img{
    width: 400px;
}

.all_info{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin: 30px;
}