.list_card{
    row-gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px 0;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination > a > button{
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 4px;
    margin: 0 20px;
}
.pagination > a > button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.pagination > a > button:hover {
    background-color: #555555;
    color: white;
}

.page{
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 4px;
}